@using CommonObjectLibraryCore
@model IEnumerable<Case>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Case List</h1>
    <p>There are a total of @Model.Count() cases in the system</p>

    @foreach (var item in Model)

    {
        <li><a asp-controller="CaseSummary" asp-action="Index" asp-route-id="@item.CaseId">@item.CaseReference</a> -
            @item.Client.ClientName - @item.CaseHandler.FullName
        </li>
    }
</div>